Python Assignment 4 - Amjad Ali

In [ ]:
1. Take input of a number from the user and print the table of that number.

In [2]:
num = int(input("Enter a number: "))

print(num,'x 1 =',num)
print(num,'x 2 =',num*2)
print(num,'x 3 =',num*3)
print(num,'x 4 =',num*4)
print(num,'x 5 =',num*5)
print(num,'x 6 =',num*6)
print(num,'x 7 =',num*7)
print(num,'x 8 =',num*8)
print(num,'x 9 =',num*9)
print(num,'x 10 =',num*10)
print(num,'x 11 =',num*11)
print(num,'x 12 =',num*12)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [ ]:
2. Check whether an alphabet is a vowel or consonant.

In [4]:
a = input("Enter an alphabet: ")

if a == 'a' or 'e' or 'i' or 'o' or 'u': print("It's a vowel")
else: print("It's a consonent")

Enter an alphabet: u
It's a vowel

In [ ]:
3. Convert month name to number of days.

In [5]:
month = input("Enter a month name: ")

if month == "January": print("31 days")
elif month == "February": print("28/29 days")
elif month == "March": print("31 days")
elif month == "April": print("30 days")
elif month == "May": print("31 days")
elif month == "June": print("30 days")
elif month == "July": print("31 days")
elif month == "August": print("31 days")
elif month == "September": print("30 days")
elif month == "October": print("31 days")
elif month == "November": print("30 days")
elif month == "December": print("31 days")
else: print("Invalid input")

Enter a month name: February
28/29 days

In [ ]:
4. Check a triangle is equilateral, isosceles or scalene

In [6]:
side1 = int(input("Enter the value of side1:"))
side2 = int(input("Enter the value of side2:"))
side3 = int(input("Enter the value of side3:"))

if side1 == side2 or side1 == side3 or side2 == side3:
    if side1 == side2 == side3: print("Equilateral triangle")
    else: print("Isosceles triangle")
        
else: print("Scalene triangle")

Enter the value of side1:4
Enter the value of side2:5
Enter the value of side3:6
Scalene triangle

In [ ]:
5. Find the median of three values.

In [8]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    if a < c:
        median = a
    elif b > c:
        median = b
    else:
        median = c
else:
    if a > c:
        median = a
    elif b < c:
        median = b
    else:
        median = c
        
print("\n\n Median:",median)

Enter first number: 3
Enter second number: 9000
Enter third number: 500


 Median: 500

In [ ]:
6. Write a Python program to compute the distance between the points (x1, y1) and (x2,y2),
Hint : distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

In [13]:
import math
p1 = list(map(int, input("Enter coordinates of point1: ").split()))
p2 = list(map(int, input("Enter coordinates of point2: ").split()))

dist = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )
print(dist)

Enter coordinates of point1: 5 -5
Enter coordinates of point2: 5 5
10.0

7. Write a Python program to calculate the hypotenuse of a right-angled triangle, if P stands for Perpendicular, H stands for hypotenuse and b stands for base then the formula is h2 = p2 + b2

In [15]:
b = int(input("Enter the base of the triangle: "))
p = int(input("Enter the perpendicular side of the triangle: "))

h = math.sqrt(p*p + b*b)

print("Hypotenuse: ",h)

Enter the base of the triangle: 7
Enter the perpendicular side of the triangle: 24
Hypotenuse:  25.0

In [ ]:
8. Write a Python program to convert all units of time into seconds.

In [22]:
hrs = int(input("hrs: "))
mins = int(input("mins: "))
secs = int(input("secs: "))

time = 0
                 
if(hrs): time += hrs*60*60

if(mins): time += mins*60
                 
if(secs): time += secs
                 
print("Time in secs:",time)

hrs: 1
mins: 0
secs: 1
Time in secs: 3601

In [ ]:
9. Write a Python program to calculate the sum of the digits in an integer.

In [30]:
num = int(input("Enter a number: "))
sm = 0

while(num):
    rem = num%10
    sm += rem
    num = int(num/10)
    
print(sm)

Enter a number: 35533632
30

In [ ]:
10. Write a Python program to get the ASCII value of a character., Hint : use ord(‘a’)

In [39]:
ch = input("Enter any character: ")
print("ASCII value of '"+ch+"' is",ord(ch))

Enter any character: !
ASCII value of '!' is 33

In [ ]:
11. Given variables x=30 and y=20, write a Python program to print "30+20=50". In terms of %d.

In [40]:
x = 30
y = 20

print(x,'+',y,'=',x+y)

30 + 20 = 50

In [ ]:
12. Write a Python program to calculate the area of a parallelogram.

In [41]:
base = int(input("Enter the base: "))
height = int(input("Enter the height: "))
area =  base*height

print(area)

Enter the base: 4
Enter the height: 5
20

In [ ]:
13. Print all the possible outcome of the value of num if num is less then 20 and greater than 10.

In [44]:
for i in range(11,20):
    print(i, end=' ')

11 12 13 14 15 16 17 18 19

In [ ]:
14. Print the outcome form the following:
• If name = (‘sample’) , print(name[10] + name[12])

In [48]:
try:
    name = 'sample'
    print(name[10] + name[12])

except Exception as e:
    print(e)

string index out of range

15. Print the calendar of the year 2025.

In [51]:
import calendar

for i in range(1,13):
        print(calendar.month(2025, i))

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

    October 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31